- model_class = Post
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %tbody
    - @posts.each do |post|
      %tr
        %td
          %h3= link_to post.title, post_path(post)
          %p
            Written on 
            = post.publish_date
            by
            = link_to post.user.name, root_path(:user => post.user_id)
          %p
            = post.body[0..150]
            - if post.body.length > 150
              &hellip; 
          %p
            - if current_user && (current_user.has_role?(:admin) || current_user.id==post.user_id)
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
            - else
              = link_to "View", post_path(post), :class => 'btn btn-mini btn-info'

= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
