- model_class = Post
.page-header
  %h3=t '.title', :default => @post.title

.row
  .eight.columns
    .content  
      = @post.body
    %p
    %ul.button-group.radius
      %li 
        = link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'tiny button'
      - if current_user && (current_user.has_role?(:admin) || current_user.id==@post.user_id)
        %li
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'tiny button'
        %li
          = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'tiny button alert'
  .four.columns
    %p
      %b Author <br>
      = @post.user.name
    %p
      %b Publish Date <br>
      = @post.publish_date
    %p
      %b Categories:
      .ul
        - @post.categories.each do |cat|
          .li
            .icon-check
              = cat.name

